annotated-types==0.8.0
anyio==4.13.0
argcomplete==3.6.3
beautifulsoup4==4.15.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.0-build/blivet-3.14.0
Brlapi==0.8.7
Brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-365-build/cockpit-365/tmp/wheel/cockpit-365-py3-none-any.whl#sha256=cddf2ac7d5a15ca4dd8053463add9587cff7091922f40a3a7136fae5b865ca07
colorama==0.4.6
configobj==5.0.9
crypt_r==3.13.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distlib==0.4.3
distro==1.9.0
dnf==4.24.0
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.32.2
gnome-extensions-cli==0.11.0
gpg==2.0.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
idna==3.18
iso639==0.1.4
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
lxml==6.1.1
mutagen==1.47.0
nftables==0.1
numpy==2.5.1
olefile==0.47
packaging==25.0
pandas==3.0.5
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
platformdirs==4.11.0
productmd==1.50
progressbar2==4.5.0
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycryptodomex==3.23.0
pycups==2.0.4
pycurl==7.45.7
pydantic==2.13.4
pydantic_core==2.46.4
pyenchant==3.3.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparsing==3.1.2
pyparted==3.13.0
PySide6==6.11.1
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-discovery==1.5.1
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
ranger-fm==1.9.4
RapidFuzz==3.14.3
regex==2026.7.19
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.2
rpmautospec==0.8.4
rpmautospec-core==0.1.5
selinux @ file:///builddir/build/BUILD/libselinux-3.11-build/libselinux-3.11/src/dist/selinux-3.11-cp314-cp314-linux_x86_64.whl#sha256=e028f96b8a57c596eb2e91c08d937d711954cb0882a6552bf28ddeab938028e3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.11-build/selinux-3.11/python/sepolicy/dist/sepolicy-3.11-py3-none-any.whl#sha256=4215ac0439a505cdb35970cf16a590b4592d8a21f2bc6612e7a216c4490da2a3
setools==4.6.0
shiboken6==6.11.1
simpleline==1.9.0
six==1.17.0
sos==4.11.2
soupsieve==2.8.3
systemd-python==235
torbrowser-launcher==0.3.9
tqdm==4.70.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
variety==0.9.0
virtualenv==21.7.1
websockets==15.0.1
xkbregistry==0.3
yt-dlp==2026.7.4
zombie-imp==0.0.4
